@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 900px;
    background-image: url(../img/pirapora.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    font-family: 'Quicksand', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1a1;
    position: sticky;
    top: 0;
    padding: 1.25rem 1.25rem;
    margin-top: 1.25rem;
}

header h1 {
    font-size: 2.5rem;
    font-family: 'Bonheur Royale';
}

header ul {
    display: flex;
    gap: 0.312rem;
    font-size: 2rem;
}

header ul li {
    list-style-type: none;
}

header li a{
    text-decoration: none;
    color: black;    
    font-weight: bold;
    transition: all .3s ease-in-out;
}

header li a:hover{
    color: rgb(79, 79, 79);
}

main {
    background-color: #f1f1f1a1;
    padding-bottom: 50px;
}

.intro {
    display: block;
    text-align: justify;
    margin: 2rem 2rem 1rem 2rem;
    padding: 1rem 0;
    font-size: 200%;
}

.video {
    margin: 0px auto 50px auto;
    text-align: center;
    display: block;
}

footer {
    text-align: center;
    padding: 0px 30px;
    margin: 20px;
}

img {
    width: 50px;
}

a {
    margin: 20px;
}

.curiosidades {
    margin-left: 10px;
    font-size: 200%;
}

ul {
    list-style: none;
    padding: 10px 50px;
}

.item {
    position: relative;
    margin: 20px 0px;
}

.item::before {
    content: '';
    position: relative;
    left: 0;
    top: 0;
    padding: 0px 25px 0px 15px;
    background-image: url(../img/interface_checkmark_check_success_verified_icon_133025.png);
    background-repeat: no-repeat;
    background-size: 30px;
    margin-right: 10px;
}

@media(max-width:320px) {
    iframe {
        height: 200px;
        width: 100%;
    }

    header h1 {
        font-size:1.3rem;
    }

    header ul {
        display: block;
        font-size: 1.4rem;
    }

    .intro {
        font-size: 150%;
    }

    .curiosidades {
        margin-left: 10px;
        font-size: 130%;
    }
}

@media(min-width: 321px) and (max-width: 492px) {
    iframe {
        height: 250px;
        width: 100%;
    }

    header h1 {
        font-size:1.5rem;
    }

    header ul {
        display: block;
        font-size: 1.4rem;
    }

    .intro {
        font-size: 150%;
    }

    .curiosidades {
        margin-left: 10px;
        font-size: 130%;
    }
}

@media(min-width: 493px) and (max-width: 780px) {
    iframe {
        height: 300px;
        width: 100%;
    }

    header h1 {
        font-size:1.5rem;
    }

    header ul {
        display: block;
        font-size: 1.4rem;
    }

    .intro {
        font-size: 150%;
    }
    .curiosidades {
        margin-left: 10px;
        font-size: 130%;
    }
}

@media(min-width: 781px) and (max-width: 1080px) {
    iframe {
        height: 500px;
        width: 100%;
    }

    header h1 {
        font-size:1.8rem;
    }

    header ul {
        font-size: 1.4rem;
    }
}

@media(min-width: 1081px) {
    iframe {
        height: 720px;
        width: 100%;
    }
}

/* ----------- FORM ----------- */

main h1 {
    display: block;
    text-align: justify;
    margin: 2rem 2rem 0.25rem 2rem;
    padding: 2rem 0 0 0;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(51, 51, 51, 0.6);
}

main h3 {
    padding-top: 10px;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(51, 51, 51, 0.6)
}

fieldset{
    border: none;
}

section#form {
    font-size: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem;
    padding: 1rem;
    background-color: #333333cd;
    border-radius: 2rem;
    color: rgb(243, 186, 155);
}

input[type=date] {
    text-align: center;
    font-size: 1.8rem;
}

#interesses-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

fieldset {
    padding: 1rem;
    margin: 1rem;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.8rem;
}

input,
textarea {
    border-radius: 4px;
    border-style: none;
    height: 30px;
    width: 250px;
    transition: all .2s ease-in-out;
}

input:hover {
    transform: scale(1.05);
}

.data_nasc label {
    display: inline-block;
    margin: 0 15px;
}

input[type="radio"] {
    width: 1em;
    height: 1em;
}

.interesse {
    text-align: left;
}

.interesse label {
    display: inline-block;
}

.perfil label {
    display: inline-block;
}

input[type="checkbox"] {
    width: 1em;
    margin: 0 10px;
    vertical-align: middle;
}

textarea {
    height: 100px;
    width: 650px;
    padding: 8px 0 0 10px;
}

button {
    padding: 1rem;
    color: white;
    font-size: 1.8rem;
    background-color: #333;
    border-style: none;
    cursor: pointer;
}

button:hover {
    background-color: whitesmoke;
    color: #333;
    box-shadow: 0px 0px 10px wheat;
}

button[type="reset"]{
    color: red;
    margin-right: 2rem;
}